h1{
    text-align:center;
    font-size:50px;
    margin-bottom:25px;
    font-family: 'Baloo Thambi', cursive;
    background-color:white;
}
#app{
    border: 5px solid black;
    border-radius: 12px;
    background-color:gray;
    color: black;
    font-family: 'Baloo Thambi', cursive;
}
.redLight{
    background-image: url('http://i.imgur.com/yx50eCM.png');
    background-repeat: no-repeat;
}
.greenLight{
    background-image: url('http://i.imgur.com/mm6g63c.png');
    background-repeat: no-repeat;
}
#placeholder{
    height:450px;
    width: 100%;
    background-color:white;
}
img{
    width:100%;
}