body, p, input {

    font-size: 18px;

}

a {

    text-decoration: none;

}

table, td {

    border: 1px darkslategray;

    font-size: 18px;

    padding: 2px;

}

th {

    background-color: darkseagreen;

    color: white;

    font-size: 18px;

    vertical-align: top;

}

td {

    font-size: 18px;

    vertical-align: top;

}

tr {

    background-color: #DDD;

}

tr:nth-child(odd) {

    background-color: #CCC;

}

#submit:disabled {

    background-color: white;

    color: #CCC;

}

#submit:enabled {

    background-color: GrayText;

    color: white;

}