html, body{
    background-color: white;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    font-size: 1.3em;
}

.navbar .navbar-collapse {
    text-align: center;
}
.carousel-inner{
    background-color: white;
}
.carousel-inner h3{
    font-size:1.8em;
}
.footer{
    text-align: center;
}
#myCarousel{
    margin-bottom:100px;
}
.jumbotron{
    background-image: url(jumbotron.gif);
    text-align:center;
}
.carousel-caption{
    top: -25px;
}