body, html{
    background-color: #191919;
}
.dark{
    background-color: #191919;
    height:100%;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 3.0em;
    line-height: 2.0;
    color:#DFE2DB;
}
.silver{
    background-color: #DFE2DB;
    min-height: 500px;
    line-height: 2.0;
}
.appcontainer{
    height: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.clear{
    background-color: transparent;
}
.centered{
    text-align: center;
    margin:10px;
}
.name{
    font-family: 'Pacifico', cursive;
}