html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width:100%;
    background: #deefff; /* Old browsers */
    background: -moz-linear-gradient(top, #deefff 0%, #98bede 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #deefff 0%,#98bede 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #deefff 0%,#98bede 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


}

.header {
    padding: 15px;
}

.header img {
    display: inline-block;
}

.header h1 {
    display: inline-block;
}

.ng-view h1 {
    color: whitesmoke ;

    font-size: 64px;
    margin: 0 0 80px 0;
    padding: 20px 0;
    line-height: 60px;
    width: 50%;
}

.ng-view h2 {
    background-color: whitesmoke ;
    color: #999999 ;
    font-size: 20px;
    margin: 0 0 40px 0;
    padding: 20px 0;
    text-align: center;
}
.ng-view h3 {
    background-color: whitesmoke ;
    color: #999999 ;
    font-size: 15px;
    margin: 0 0 40px 0;
    padding: 20px 0;
    text-align: center;
}
.ng-view .whitewrapper{
    background-color: rgba(245, 245, 245, 0.6);
    padding: 3%;
    word-spacing: 1.8px;
    letter-spacing: 1.3px;
    line-height: 35px;
}
.ng-view .bio {
    color: #2f3846;
    font-size:1.5em;
    text-align:center;
    font-family: 'Work Sans', sans-serif;
}
.ng-view .intro{
    color: #2f3846;
    text-align: center;
    font-size: 4.0em;
    padding: 40px;
    font-family: 'Denk One', sans-serif;
}
.ng-view .subintro{
    color: #2f3846;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Work Sans', sans-serif;
    margin-bottom:10px;
}
.ng-view .subintro1{
    color: #2f3846;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Work Sans', sans-serif;
}
.ng-view .description
{
    color: #1973FF;
    font-size:2.0em;
    text-align: center;
    padding-bottom:40px;
}

.thumbnail {
    border: 0px;
    position: relative;
    padding: 50px;
    border-radius: 0;
    margin-bottom:50px;
    background: #deefff; /* Old browsers */
    background: -moz-linear-gradient(top, #deefff 0%, #98bede 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #deefff 0%,#98bede 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #deefff 0%,#98bede 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.thumbnail img {
    margin-top: 10px;
    margin-bottom: 30px;
    display: block;
    max-width:230px;
    max-height:230px;
    width: auto;
    height: auto;
}
.thumbnail1 {
    position: relative;
    padding: 2%;
    width:100%;
    height:100px;
    display:block;
    border-radius: 25px;
    border: 2px solid #2f3846;
    text-align: center;
    color:#2f3846;
    font-family: 'Denk One', sans-serif;
    font-size: 1em;
    margin: 10px;
}

.profile {
    margin-top: 10px;
    margin-bottom: 30px;
    display: block;
    max-width:230px;
    max-height:230px;
    width: auto;
    height: auto;
}

.title,
.date {
    color: #444;
    margin: 0;
    font-size: 18px;
    font-weight: 800;
}

.date {
    color: #a3a3a3 ;
    font-size: 14px;
    font-weight: 200;
}

.subtitle {
    background-color: #98bede ;
    color: black;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-weight: 200;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 80px;
    position: absolute;
    top: -40px;
    right: 20px;
}

.rating {
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin: 30px 0 -30px 20px;
}

.likes,
.dislikes {
    background: #F65A5B ;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    line-height: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 -30px 0 40px;
    text-align: center;
    font-weight: 200;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background 500ms;
}

.likes:hover,
.dislikes:hover {
    color: #F65A5B ;
    background: rgba(246, 90, 91, 0.25);
    transition: background 500ms;
}

.footer {
    text-align: center;
    margin: 80px 0 110px;
}

.footer h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

.footer img {
    margin: 0 10px;
}

#slides_control > div{
    height: 200px;
}
img{
    margin:auto;
    width: 400px;
}
#slides_control {
    position:absolute;
    width: 400px;
    left:50%;
    top:20px;
    margin-left:-200px;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}
.transparent{
    background: transparent;
    border: transparent;
    background-color: transparent;
}
.fullwidth {
    width:100%
}