html{
    background-image: url(background.jpg);
}
.jumbotron{
    background-image: url(jumbotron.png);
}

.gothic{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.4em;
    line-height: 1.2em;
}