body{
    background-color: black;
}
.jumbotron{
    background-image: url(jumbotron.gif);
}

.col-sm-6{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.9em;
    line-height:150%;
    background-color: slategray;
    color:white;
    border: solid black 2px;
}
